
.mod_header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;

    width: 100%;
    height: 50px;
    overflow: hidden;
    display: none;

    font-size: 14px;

    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);

    &.show {
        display: block;
    }

    ul {
        background: $green;
        height: 50px;
        @include box($align: center);
        li {
            display: block;
            padding: 0 10px;
            line-height: 20px;
            margin: 0 10px;
            text-align: center;
            color: #fff;
            cursor: pointer;
            a {
                color: #fff;
            }
            &.current {
                color: #000;
            }
        }
    }

    div {
        line-height: 30px;
        @include box($align: center);
    }
}


.mod_menu {
    position: fixed;
    left: 0;
    top: 60px;
    width: 150px;
    display: none;
    &.show {
        display: block;
    }
    p {
        line-height: 30px;
        text-indent: 10px;
    }
    dl {
        dt {
            padding: 5px 0;
            line-height: 20px;
            background: #999;
            color: #fff;
            text-indent: 20px;
            @include border-half($type: y);
        }
        dd {
            ul {
                li {
                    padding-left: 10px;
                    line-height: 30px;
                    cursor: pointer;
                }
            }
        } 
    }
    p, li {
        &.current {
            background: $green;
            color: #fff;
        }
    }
}