
.mod_header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;

    width: 100%;
    height: 50px;
    overflow: hidden;
    display: none;

    font-size: 14px;

    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);

    &.show {
        display: block;
    }

    ul {
        background: $green;
        height: 50px;
        @include box($align: center);
        li {
            display: block;
            padding: 0 10px;
            line-height: 20px;
            margin: 0 10px;
            text-align: center;
            color: #fff;
            cursor: pointer;
            a {
                color: #fff;
            }
            &.current {
                color: #000;
            }
            &:nth-child(1) {
                // font-size: 20px;
            }
        }
    }

    div {
        line-height: 30px;
        @include box($align: center);
    }
}


.mod_menu {
    position: fixed;
    left: 0;
    top: 60px;
    width: 150px;
    display: none;


    height: 100%;
    padding-bottom: 100px;

    @include box-sizing();
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &.show {
        display: block;
    }
    p {
        line-height: 30px;
        text-indent: 10px;
    }
    dl {
        dt {
            padding: 5px 0;
            line-height: 20px;
            background: #ddd;
            color: #000;
            text-indent: 5px;
            font-size: 14px;
            // @include border-half($type: bottom);
            // border-bottom: 2px solid #fff;

            @include icon($color: #000);
            &.icon_01:before {
                content: "\f493";
                margin-right: 5px;
            }
            &.icon_02:before {
                content: "\f453";
                margin-right: 5px;
            }
            &.icon_03:before {
                content: "\f483";
                margin-right: 5px;
            }
        }
        dd {
            ul {
                li {
                    padding-left: 10px;
                    line-height: 40px;
                    cursor: pointer;
                    color: #666;
                }
            }
        } 
    }
    p, li {
        &.current {
            background: $green;
            color: #fff;
        }
    }
}