//toast样式
.notifier {
    position: absolute;
    top: 200px;
    width: 100%;
    z-index: 10;
    text-align: center;
    color: #fff;
    span {
        display: inline-block;
        padding: 10px 20px;
        background: rgba(0, 0, 0, 0.7);
        @include border-radius(5px);
    }
}


.loading {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;
    // background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    @include icon(
        // $type: "\f29d",
        $type: "数据加载中...",
        $width: 100px,
        $height: 30px,
        $position: lt,
        $left: 50%,
        $top: 50%,
        $color: #fff,
        $size: 12px,
        $align: center,
        $line: 30px,
        $background: rgba(0,0,0,0.8),
        $radius: 5px
    );
    &:before {
        font-weight: normal;
        margin-top: -15px;
        margin-left: -50px;
    }
}


.mod_wrapper {
    width: 100%;
    display: table;
    .table_left,
    .table_mid,
    .table_right {
        display: table-cell;
    }
    .table_left {
        width: 160px;
    }
    .table_mid {
        padding-bottom: 10px;
    }
    .table_right {
        width: 10px;
    }
}

.mod_login {
    width: 300px;
    height: 140px;
    margin: 0 auto;
    
    position: absolute;
    left: 50%;
    top: 150px;
    margin-left: -150px;

    li {
        @include border-half();
        @include box($align: center);
        label,
        input {
            display: block;
        }
        label {
            width: 60px;
        }
        input {
            -webkit-box-flex: 1;
            border: 0;
            line-height: 20px;
            padding: 10px;
        }

        &:last-child {
            display: block;
            cursor: pointer;
            border: 0;
            margin-top: 10px;
            background: #f90;
            line-height: 40px;
            text-align: center;
            color: #fff;
        }
    }
}


.mod_filter {
    @include box();
    margin-bottom: 10px;
    li {
        display: block;
        line-height: 30px;
        padding: 0 10px;
        background: #bbb;
        margin-right: 10px;
        color: #fff;
        cursor: pointer;
    }
}



// check filter
.mod_check_01 {
    @include box();
    li {
        display: block;
        line-height: 40px;
        margin-right: 20px;
        cursor: pointer;
        @include icon(
            $type: "\f372",
            $size: 14px,
            $color: #333
        );
        &:before {
            margin-right: 5px;
        }
        &.checked {
            color: $green;
            &:before {
                content: "\f373";
                color: $green;
            }
        }
    }
}


// 翻页布局
.mod_next_page {
    @include box();
    li {
        display: block;
        background: #eee;
        line-height: 30px;
        padding: 0 10px;
        border: 1px solid $border;
        margin-right: 10px;
        cursor: pointer;
        &.current {
            background: $green;
            color: #fff;
            border: 1px solid $green;
        }
    }
}


.mod_page_detail {
    background: #eee;
    border: 1px solid $border;
    @include box();
    li {
        display: block;
        -webkit-box-flex: 1;
        text-align: center;
        padding: 10px 0;
        border-right: 1px solid $border;
        &:last-child {
            border: none;
        }
        p {
            color: #000;
            font-size: 16px;
            line-height: 20px;
            &:nth-child(1) {
                color: #999;
                font-size: 12px;
            }
        }
    }
}

.mod_page_title {
    background: $green;
    line-height: 20px;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: normal;
    padding: 0 5px;
    // margin-left: -10px;
}


h4 {
    line-height: 40px;
}
