//toast样式
.notifier {
    position: absolute;
    top: 45%;
    width: 100%;
    z-index: 10;
    text-align: center;
    color: #fff;
    span {
        display: inline-block;
        padding: 10px 15px;
        background: rgba(0, 0, 0, .6);
        @include border-radius(5px);
    }
}


.mod_login {
    width: 300px;
    height: 140px;
    margin: 0 auto;
    
    position: absolute;
    left: 50%;
    top: 150px;
    margin-left: -150px;

    li {
        @include border-half();
        @include box($align: center);
        label,
        input {
            display: block;
        }
        label {
            width: 60px;
        }
        input {
            -webkit-box-flex: 1;
            border: 0;
            line-height: 20px;
            padding: 10px;
        }

        &:last-child {
            display: block;
            cursor: pointer;
            border: 0;
            margin-top: 10px;
            background: #f90;
            line-height: 40px;
            text-align: center;
            color: #fff;
        }
    }
}