* {
    padding: 0;
    margin: 0;
}
body {
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: #72685e;
    background: #f8f8f8;
    position: relative;
    height: 100%;
}
body.tbody {
    background: -webkit-linear-gradient(left, #eee 0%, #eee 150px, #f8f8f8 150px, #f8f8f8 100%);
    .mod_wrapper {
        padding-top: 65px;
    }
}


ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

input {
    outline: none;
}

.mb10 {
    margin-bottom: 10px !important;
}